<div>
  <div class="projects-title">
    <h2>My web projects</h2>
  </div>

  <div class="projects-body">
    <p>
      Other projects are coming soon - do not hesitate to contact me to work together or if you have any suggestions.
    </p>
  </div>

  <div class="mt-5">
      <% @projects.each_with_index do |project, index| %>
    <div class="carroussel my-3">

      <div class="project-text">
        <div class="project-title">
          <h3><%= project.title.upcase %></h3>
        </div>
        <div class="project-info">
          <p><%= project.description %></p>
          <p>5-days project, finished on: <%= project.date %></p>
          <a style="margin-left: 3rem;" href="<%= project.ghrepo %>" target="_blank"><i class="fab fa-github mx-1"></i>Check Github repo</a>
          <div class='techno my-2'>
            <h6>Technologies:</h6>
            <p><%= project.tool %></p>
          </div>
        </div>
      </div>

      <div id="carouselExampleControls<%= index %>" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner mt-2">

          <% project.photos.each_with_index do |photo, photo_index| %>
            <div class="carousel-item <%= 'active' if photo_index == 0 %>">
              <%= image_tag url_for(photo), height: 500, width: 650, crop: :fill, class: 'show-img', alt: "Project website screenshot" %>
            </div>
          <% end %>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls<%= index %>" data-bs-slide="prev">
            <span class="carousel-control-prev-icon arrow-color" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>

          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls<%= index %>" data-bs-slide="next">
            <span class="carousel-control-next-icon arrow-color" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
      <% end %>
  </div>
</div>
