<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio Maxime Oudin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Poppins:wght@100;200;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
      <%# <% redirect to HTTPS à décommenter%>

      <script type="text/javascript">
      if (window.location.protocol !== "https:") {
        window.location.protocol = "https";
      }
      </script>

  </head>

  <body>

    <%= render "shared/navbar" %>

    <div class="container pt-5 pb-2 bg-gradient"
         data-controller="contact-form">

        <%= render "shared/contact" %>
        <%= yield %>

      <div class="modal-contact d-flex justify-content-around my-1 mb-3">
        <div id="btn-contact" class="btn btn-primary"
            data-action="click->contact-form#openModal"
            data-contact-form-target="contactButton">
            Contact me
        </div>
      </div>
    </div>

    <div>
      <%= render "shared/footer" %>
    </div>

  </body>
</html>
